
<div class="card">
    <h2>Login</h2>
  <div class="card-body">
    <form action="/usuarios/login" method="post">
        <label for= "email">Email:</label>
        <input type="text" name="email" id="email"placeholder="Email"  class="form-control" minlength="15" required>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" placeholder="senha"  class="form-control" minlength="6"  required>
        <button type="submit" class="btn btn-primary mt-4">Entrar</button>
        <br>
        <a href="/usuarios/criar">Não tem cadastro?</a>
        </form>
  </div>
</div>